body {
    background-color: lightgrey;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

svg {
    margin-right: -10px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
}

pre {
    color: #2d3b45;
    display: block;
    padding: 9px;
    margin: 0 0 12px;
    line-height: 1.2;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
}